@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h1></h1>
    <p><b>        Steps to run this program:</b></p>
    <p></p>
    <p>        1. Enter a valid RegEx in the ValidationRegex page</p>
    <p>        2. Add a Card Type linked to a valid ValidationRegex</p>
    <p>        3. Add a card</p>
    <p></p>
    <p><b>        Notes:</b></p>
    <p>        - This doesn't check if the string entered as a ValidationRegex string is valid regex (if it isn't it just won't match)</p>
    <p>        - This doesn't allow for the same RegEx to be stored in multiple ValidationRegex</p>
    <p>        - This doesn't allow for multiple Card Types to be linked to the same ValidationRegex</p>
    <p>        - This doesn't allow for Card Types to be deleted if they have been used</p>
    <p>        - This doesn't allow for ValidationRegex to be deleted if they have been used</p>
    <p>        - This allows card number formats of nnnn nnnn nnnn nnnn, nnnn-nnnn-nnnn-nnnn, and nnnnnnnnnnnnnnnn</p>

</div>
