@model CreditCardSystem.Models.CardType

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CardType</h4>
    <hr />
    <br /><span style="font-weight:Bold;">This Card Type has been linked to a Credit Card and cannot be deleted</span>
    <br />
    <a asp-action="Index">Back to List</a>
</div>
