@model CreditCardSystem.Models.CreditCard

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>CreditCard</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CardNumber" class="control-label"></label>
                <br /><span style="font-weight:Bold;">@ViewBag.CardNumberError</span>
                <input asp-for="CardNumber" class="form-control" />
                <span asp-validation-for="CardNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CardExpiry" class="control-label"></label>
                <br /><span style="font-weight:Bold;">@ViewBag.DateError</span>
                @Html.TextBoxFor(m => m.CardExpiry, new { type = "month"})
                <br />
                <span asp-validation-for="CardExpiry" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CardCvv" class="control-label"></label>
                <br /><span style="font-weight:Bold;">@ViewBag.CvvError</span>
                <input asp-for="CardCvv" class="form-control" />
                <span asp-validation-for="CardCvv" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
